In [1]:
import pathlib
import xarray as xr
import os
import netCDF4 as nc
import pandas as pd
import sweetviz as sv
import os
from tqdm import tqdm

C:\Users\sudar\AppData\Local\pypoetry\Cache\virtualenvs\big_data_project-GTrHChF4-py3.9\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
data_dir_path = pathlib.Path(r'C:\Users\sudar\Documents\Personal Files\Msc. MLiS\Spring Modules\Big Data Learning and Technologies\Projects\data')
file_path = data_dir_path.joinpath('cds/ERA5-82-23-three-hrs.nc')

In [5]:

# Open the NetCDF file using xarray
dataset = xr.open_dataset(file_path, chunks={'time': 100})

# Explore the dataset
print(dataset)  # Summary of the dataset, including dimensions, coordinates, and data variables

<xarray.Dataset> Size: 7GB
Dimensions:     (longitude: 201, latitude: 41, time: 2016)
Coordinates:
  * longitude   (longitude) float32 804B 120.0 120.2 120.5 ... 169.5 169.8 170.0
  * latitude    (latitude) float32 164B 5.0 4.75 4.5 4.25 ... -4.5 -4.75 -5.0
  * time        (time) datetime64[ns] 16kB 1982-01-01 ... 2023-12-01T23:00:00
Data variables: (12/54)
    u10         (time, latitude, longitude) float64 133MB dask.array<chunksize=(100, 41, 201), meta=np.ndarray>
    v10         (time, latitude, longitude) float64 133MB dask.array<chunksize=(100, 41, 201), meta=np.ndarray>
    d2m         (time, latitude, longitude) float64 133MB dask.array<chunksize=(100, 41, 201), meta=np.ndarray>
    t2m         (time, latitude, longitude) float64 133MB dask.array<chunksize=(100, 41, 201), meta=np.ndarray>
    cdir        (time, latitude, longitude) float64 133MB dask.array<chunksize=(100, 41, 201), meta=np.ndarray>
    cp          (time, latitude, longitude) float64 133MB dask.array<chunksize=(100, 41, 201), meta=np.ndarray>
    ...          ...
    tsrc        (time, latitude, longitude) float64 133MB dask.array<chunksize=(100, 41, 201), meta=np.ndarray>
    tcc         (time, latitude, longitude) float64 133MB dask.array<chunksize=(100, 41, 201), meta=np.ndarray>
    tp          (time, latitude, longitude) float64 133MB dask.array<chunksize=(100, 41, 201), meta=np.ndarray>
    fdir        (time, latitude, longitude) float64 133MB dask.array<chunksize=(100, 41, 201), meta=np.ndarray>
    tvh         (time, latitude, longitude) float64 133MB dask.array<chunksize=(100, 41, 201), meta=np.ndarray>
    tvl         (time, latitude, longitude) float64 133MB dask.array<chunksize=(100, 41, 201), meta=np.ndarray>
Attributes:
    Conventions:  CF-1.6
    history:      2024-04-28 07:48:18 GMT by grib_to_netcdf-2.28.1: /opt/ecmw...

In [6]:
time_chunks = dataset.chunks['time']  # Directly accessing the 'time' key in the chunk dictionary

# Directory to save chunked DataFrames
output_directory = data_dir_path.joinpath('cds/ERA5-82-23-three-hrs-chunks/')

# Ensure the directory exists
# if not os.path.exists(output_directory):
#     os.makedirs(output_directory)

# Iterate over the 'time' chunks
start_idx = 0  # Starting index for slicing

for i, chunk_size in enumerate(tqdm(time_chunks)):
    # Determine the slice for the current chunk
    end_idx = start_idx + chunk_size  # End index for the chunk
    chunk = dataset.isel(time=slice(start_idx, end_idx))

    # Convert the chunk to a DataFrame
    df_chunk = chunk.to_dataframe().reset_index()  # Flatten xarray coordinates into DataFrame columns

    # Save the DataFrame as a CSV file or another format
    chunk_file_path = os.path.join(output_directory, f'chunk_{i}.csv')
    df_chunk.to_csv(chunk_file_path, index=False)

    # Update the starting index for the next iteration
    start_idx = end_idx

    # print(f'Saved chunk {i} to {chunk_file_path}')

100%|█████████████████████████████████████████████████████████████████████████████████| 21/21 [39:25<00:00, 112.64s/it]

In [5]:
df = ds.to_dataframe().reset_index()  # reset_index to convert xarray coordinates to DataFrame columns
df.head()

,longitude,latitude,time,u10,v10,d2m,t2m,cdir,cp,e,...,sro,ssrdc,ssrd,tsr,tsrc,tcc,tp,fdir,tvh,tvl
0,-90.0,10.00,2022-01-01,-4.811078,-2.309218,295.618130,298.200047,1.796860e+07,0.000048,-0.001661,...,0.0,2.189932e+07,2.148651e+07,2.810677e+07,2.846823e+07,0.152473,0.000071,1.730454e+07,0.0,0.0
1,-90.0,10.00,2022-02-01,-5.573031,-2.459584,295.265762,298.260153,1.946421e+07,0.000055,-0.002268,...,0.0,2.381218e+07,2.332204e+07,3.046916e+07,3.089712e+07,0.096191,0.000080,1.875398e+07,0.0,0.0
2,-90.0,10.00,2022-03-01,-4.249627,-2.111126,296.091641,298.783604,2.095452e+07,0.000027,-0.001904,...,0.0,2.549391e+07,2.478369e+07,3.254027e+07,3.315476e+07,0.319034,0.000047,1.969099e+07,0.0,0.0
3,-90.0,10.00,2022-04-01,-2.851004,-1.132216,296.852173,300.045375,2.117370e+07,0.000385,-0.002392,...,0.0,2.584941e+07,2.381656e+07,3.218431e+07,3.401411e+07,0.494954,0.000589,1.793285e+07,0.0,0.0
4,-90.0,9.75,2022-01-01,-4.769073,-2.457187,295.582943,298.065161,1.802652e+07,0.000037,-0.001588,...,0.0,2.197501e+07,2.150286e+07,2.815500e+07,2.857476e+07,0.154110,0.000053,1.725439e+07,0.0,0.0

In [21]:
df.columns

Index(['longitude', 'latitude', 'time', 'u10', 'v10', 'd2m', 't2m', 'cdir',
       'cp', 'e', 'hcc', 'cvh', 'lai_hv', 'lai_lv', 'lcc', 'cvl', 'msl',
       'msdrswrf', 'msdrswrfcs', 'msdwlwrf', 'msdwlwrfcs', 'msdwswrf',
       'msdwswrfcs', 'msdwuvrf', 'mslhf', 'msnlwrf', 'msnlwrfcs', 'msnswrf',
       'msnswrfcs', 'msror', 'msshf', 'mtdwswrf', 'mtnlwrf', 'mtnlwrfcs',
       'mtnswrf', 'mtnswrfcs', 'mwd', 'mwp', 'mcc', 'pp1d', 'siconc', 'sst',
       'swh', 'ssro', 'ssr', 'ssrc', 'sp', 'sro', 'ssrdc', 'ssrd', 'tsr',
       'tsrc', 'tcc', 'tp', 'fdir', 'tvh', 'tvl'],
      dtype='object')

In [14]:
df['time']

0        2022-01-01
1        2022-02-01
2        2022-03-01
3        2022-04-01
4        2022-01-01
            ...
233599   2022-04-01
233600   2022-01-01
233601   2022-02-01
233602   2022-03-01
233603   2022-04-01
Name: time, Length: 233604, dtype: datetime64[ns]

In [18]:
duplicates = df.duplicated(subset=["latitude", "longitude"], keep="last")
duplicates.sum()

175203

In [17]:
duplicates

0         True
1         True
2         True
3         True
4         True
          ...
233599    True
233600    True
233601    True
233602    True
233603    True
Length: 233604, dtype: bool

In [6]:
# Generate the report
report = sv.analyze(df)

# Display the report
report.show_html("eda_report.html")  # Opens the report in your default web browser

Done! Use 'show' commands to display/save.   |█████████████████████████████████████████| [100%]   00:15 -> (00:00 left)

Report eda_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [ ]:
ds.close()